<div class="container">
  <% if current_user %> 
    <div id="dashboard">
      <div class="spacer"></div>
      <h1>Hello <%= current_user.username %></h1>
      <div class="spacer"></div>
      
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <a href="<%= articles_url %>">
                <div class="card mb-4 box-shadow">
                  <br>
                  <i class="fa fa-pencil fa-5x card-img-top text-center"></i>
                  <div class="card-body">
                    <h2 class="card-text text-center">Articles</h2>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="<%= messages_url %> "> 
              <div class="card mb-4 box-shadow">
                <br>
                <i class="fa fa-envelope fa-5x card-img-top text-center"></i>
                <div class="card-body">
                  <h2 class="card-text text-center">Messages</h2>
                </div>
              </div>
             </a>
            </div>
            <div class="col-md-4">
              <a href="<%= edit_user_registration_path %> ">
                <div class="card mb-4 box-shadow">
                  <br>
                  <i class="fa fa-child fa-5x card-img-top text-center"></i>
                  <div class="card-body">
                    <h2 class="card-text text-center">Profile</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %> 
    <div id="welcome" class="text-center">
      <h2>Welcome to SecureRailsTheme.com</h2>
      <hr>
      <p>This website is a demo for my secure rails theme. I created this theme to provide new web developers with a secure Ruby on Rails theme they can build on for their own projects.</p>
      
      <p>Fork the <a class="ext-link" href="https://github.com/RichardLudwig/secure_rails_theme" target="_blank">GitHub repo</a> to get started.</p>
      <hr>
      <p>If you have any recommendations for future features, contact me at <a class="ext-link" href="https://richardludwig.com" target="_blank">https://richardludwig.com</a></p>

      <p>I recommend learning the basics of HTML, CSS, JavaScript, Ruby on Rails, and PostgreSQL before using this theme.</p>
      
      <p>Documentation is on the GitHub Wiki!</p>
    </div>
  <% end %> 
  
</div>