// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// for links on dashboard to remain black and not decorated
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

// "fixes" hyperlink appearance if user not logged in
.ext-link {
  text-decoration: underline;
  color: rgb(6,69,173);
}