<form role="search" class="bd-search d-flex align-items-center" action="/articles/search">
  <input type="search" class="form-control" id="search-input" name="q" placeholder="Search..." aria-label="Search for..." autocomplete="on" required>
</form>