<footer class="footer bg-dark">
  <div class="container text-center">
    <span class="text-muted">&copy <a class="text-muted" href="https://richardludwig.com" target="_blank">Richard Ludwig</a> | All Rights Reserved.</span>
  </div>
</footer>